<head>
<style
<body 
{font-family: 'Lora:700italic',serif;
font-size:85px;
 background-color:lightblue;}
.div-with-bg
{width: 480px;
height: 480px;
margin: auto;
align-content: center;}
p {color:blue;}
h1 {color:purple;}
h3 {font-family:'Lora:700italic',serif;
font-size: 36px color:purple;}
ul {color: red}
li {color: red}
a:{background-color: lightblue}

a:hover{text-decoration: underline;
background-color: green}

a:active{}

a:visited{}