	   <head>
	    
	    <link rel="stylesheet" type="text/css" href="resturantstyle.css"><br>
	   <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'></head>

       <body>
		<div id="header">
        <title>My Resturant</title>
        <h1><center>Belle</center> </h1><hr size="1">
        </div>
        
    <nav>
        <span>
        <a href="Home.html">Home</a>
    <a href="Menu.html">Menu</a> 
    <a href="Contact.html">Contact us</a></span></nav><hr size="1">
    <div id="body">
    <table style="text-align: center;table-layout: fixed;";cellpadding="1" width="90%" td width="10%">

	<tr>
		<td>First Name:</td>
		<td> <input type="text" name="name of input"></td></tr>
	<tr>
		<td>Last Name:</td> 
		<td> <input type="text" name="name of input"></td></tr>
	<tr>
		<td>Email: </td>
		<td><input type="text" name="name of input"></td></tr><
	 <table style="text-align: center;table-layout: fixed;";cellpadding="10" width="90%" td width="33%">
	<tr>
		<td>Type of License:</td>
		<td><input type="radio" name="answer" value="yes" checked>Business<input type="radio" name="answer" value="no" checked>Personal </td></tr></table>
 <table style="text-align: center;table-layout: fixed;";cellpadding="10" width="90%" td width="33%">
	<tr>
		<td>Select Reason:
	<select name= "Reason">
	<option value="Select a reason">options</option>
	<option value="Select a reason">Software Support</option>
	<option value="Select a reason">Hardware Support</option>
	<option value="Select a reason">Information Support</option></option></td>
</select></tr>
 <table style="text-align: center;";cellpadding="10" width="90%" td width="33%">
	<tr>
	<td>Additional information:</td></tr>
	<tr>
	<td><textarea name="Contact Us"></textarea></table></td></tr></table></td></tr></table></table></div>

<div span style="padding-left:00px" cellspacing="8"><input type="checkbox" name="checkbox" value="check" id="agree">I have read the terms and conditions</div>
<div span style="padding-left:200px" cellspacing="1"><input type="submit" name="submit" value="send request"></div></td></tr></table></table></body>
		
</form>

