<head>
    <link rel="stylesheet" type="text/css" href="resturantstyle.css"><br>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        </head>
        <body>
        <div id="header">
        <title>My Resturant</title>
        <h1><center>Belle</center> </h1><hr size="1"></div>
    
    <span>
    <ul class="nav nav-tabs">
        <li class="active"></li>
       <li> <a href="Home.html">
       <span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="Menu.html">Menu</a></li>
        <li><a href="Contact.html">Contact us</a></li></span></nav><hr size="1"></ul>
         
        <div class="container">
    <div class="row"; style="max-width: 900px; margin:0 auto">
        <div class="col-sm-12">
  <div id="Carousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h2>We're opening a new location!</h2>
      </div>

      <div class="item">
       <h2>We're rolling out our seasonal menu, with special options for this season.</h2>
      </div>
    
      <div class="item">
        <h2>The Drink of the Month is SG Special Brew.</h2>
      </div>
         </div>
            </div>
<!-- Left and right controls -->
    <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
    </a>
         <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
    
    <section id="Home-image">
    <div class="conatiner-fluid">
            <div class="row" style="text-align:center">
                <div class="col-xs-center-4">  
    <center>
    <img src="https://www.bestofperutravel.com/wp-content/uploads/2015/09/Amaz-Restaurant-Lima-1.jpg"
    alt="GoodFood"style="width:400px;height:150px"></center>
    </div>
        </div>
            </div>
                </section>
    <center>
    <section id="body">
        <div class="conatiner-fluid">
            <div class="row" style="text-align:center"; style="background-color:lightblue">
                <div class="col-xs-center-4">  
      <h3>Resturant Description</h3>
            <p>Peruvian cuisine has only recently entered onto the world stage!</p>
            <p> With the focus on new and ever growing ingredients.</p><p>Recently discovered and fresh from the amazon jungle these</p><p> dishes are filled with excotic flavors and always eventful.</p><p> Bring your friends and be suure to order many dishes,</p><p>as we intend to make an adventure out of your night</p>
            </div>
               </div>
                </div></section></body><br><hr size="1">
    <footer><center><p>2901 James Ave S, Minneaolis, MN, 55116</p></center>
    <center><p>800-999-9999</p></center>
