   <head>
  <link rel="stylesheet" type="text/css" href="resturantstyle.css"><br>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><br>    
  <style type="text/css"="text-align: center;table-layout: fixed;";cellpadding="10" width="90%" td width="33%" cellspacing="3"></style>
 
</head>
        <body>
        <div id="header">
        <title>My Resturant</title>
        <h1><center>Belle</center> </h1><hr size="1"></div>
   <span>
    <ul class="nav nav-tabs">
        <li class="active"></li>
       <li> <a href="Home.html">
       <span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="Menu.html">Menu</a></li>
        <li><a href="Contact.html">Contact us</a></li></span></nav><hr size="1"></ul>
         
        <div class="container">
    <div class="row"; style="max-width: 900px; margin:0 auto">
        <div class="col-sm-12">
  <div id="Carousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h2>We're opening a new location!</h2>
      </div>

      <div class="item">
       <h2>We're rolling out our seasonal menu, with special options for this season.</h2>
      </div>
    
      <div class="item">
        <h2>The Drink of the Month is SG Special Brew.</h2>
      </div>
         </div>
            </div>
<!-- Left and right controls -->
    <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
    </a>
         <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div></div>
   
    <div class="conatiner-fluid">
    <div class="row-fluid" style="text-align:center">
    <div class="span4">
       <h2>Cebiche</h2>
       <p>Only the cook knows what type of fish this is...</p>
       <p>Trust us, its worth trying if yoou like ceviche.</p>
       <p><center>$10.96</center></p>
       </div>
        </div>
   <div class="row-fluid" style="text-align:center">
    <div class="span4">
       <h2>Cuy</h2>
       <p>Fire Roasted guinea pig. Seasoned to perfection.</p>
       <p> Must try if you're traveling from abroad.</p>
              <p><center>$12.50</center></p>
              </div>
                </div>
    <div class="row-fluid" style="text-align:center">
        <div class="span4">
       <h2>Anticuchos</h2>
       <p>Classic Stree food from peru.</p>
       <p>Beef on a stick. Seasoned with garlic and other local spices.</p>
              <p><center>$2.59</center></p>
              </div>
                </div>
                  </div>
      <div class="conatiner-fluid">
       <div class="row-fluid" style="text-align:center">
          <div class="span4">
       <h2>Maltado</h2>
       <p>A mixture of peppers and tubes.</p>
       <p>Found from the remote jungle area of Puerta Moldanado.</p>
              <p><center>$$11.96</center></p>
              </div></div>
                <div class="conatiner-fluid">
      <div class="row-fluid" style="text-align:center">
          <div class="span4">
       <h2>Roasted Chicken</h2>
       <p>Wood fire roasted chicken smothered in spices and cooked to golden brown.</p>
       <p> No need to salt.</p>
              <p><center>$12.75</center></p>
              </div>
                </div>
        <div class="row-fluid" style="text-align:center">
          <div class="span4">
       <h2>Chile Rellano</h2>
       <p>Want something simple? Here you go. Chile stuffed with cheese.</p>
              <p><center>$10.50</center></p></div>
              </div>
                </div>
                  </div>
                
                <div class="conatiner">
            <div class="row" style="text-align:center">
    <div class="col-xs-middle-2">
    <h2><bold>Beverages</bold></h2>
       <h4>Root Beer</h4>
              <p><center>$3.00</center></p></div>
                <div class="conatiner">
            <div class="row" style="text-align:center">
    <div class="col-sm-center-2">
       <h4>Bottled Water</h4>
              <p><center>$1.24</center></p></div>
                <div class="conatiner">
            <div class="row" style="text-align:center">
    <div class="col-sm-center-2">
       <h4>Lemonade</h4>
            <p><center>$1.00</center></p></div>
                     <div class="conatiner">
            <div class="row" style="text-align:center">
    <div class="col-sm--2">
       <h4>Iced Tea</h4>
       <p><center>$1.25</center></p></div>
        
        <br 
        <hr size="1">
            <footer><center><p>2901 James Ave S, Minneaolis, MN, 55116</p></center>
    <center><p>800-999-9999</p></center>
    </form>