<head>
<style 
body {background-color:grey;
font-family: 'Lora',serif;
font-size: 20px;
font-weight: bold;}
#header {background-color: grey;
font-family: 'Lora', serif;
text-align: center;
font-size: 38px}
footer {background-color: grey} 
section
#body {background-color: lightblue}
nav {background-color: grey}
p {color:#000000;}
h1 {color:green; background-color: grey
	font-family: 'Lora', serif;
	font-size:98px}
h3 {color: darkgreen}
a {color: darkgreen}
table 
.food1{font-family: 'Lora', serif;
text-align: center
background-color:orange;
font-size: 12px;
border-collapse:collapse;}
.beverages{text-align: left;background-color:orange;
width: 20%;
height: 22%;
margin: auto;
border-collapse:collapse;}
th{height: 25px;text-align: center;}
a:{background-color: lightblue}
a:link{}
a:visited{color:red;}
a:hover{text-decoration: underline;font-weight: bold;
background-color: green}

a:active{}

span {color: green;}
</style>



